<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo App</title>
    <style>
        .hidden {
            display: none;
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            width: 300px;
        }
        li {
        clear: both;
        }
        li button {
        -webkit-appearance: none;
        border: none;
        outline: none;
        color: #ff0000;
        float: right;
        cursor: pointer;
        font-size: 20px;
        }
        .lists-wrapper, .todos-wrapper {
        display: inline-block;
        vertical-align: top;
        }
    </style>
</head>
<body>

    <div id="error" class="hidden">Something went wrong!</div>

    <div class="lists-wrapper">
        <h4>Your todo lists</h4>
        <form id="form_lists">
            <label for="description">Create List</label> <br>  <!-- for attr binds the label to the input field -->
            <input type="text" id="name" name="name" />  <!-- name attr is the key used by request.get -->
            <input type="submit" id="submit_new_list" value="Create" /> <!-- value attr specifies text showing in button -->
        </form>
        <ul id="todolists">
            {% for list in todolists %}
            <li>
                <a href="/lists/{{ list.id }}"> {{ list.name }} </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="todos-wrapper">
        <h4>Your todo items [list: {{ active_list.name }}]</h4>
        <!-- use this for synchronous request: <form id="form" method="post" action="/todos/create">  (indicate method + name route) -->
        <form id="form_todos">
            <label for="description">Create Item</label> <br>  <!-- for attr binds the label to the input field -->
            <input type="text" id="description" name="description" />  <!-- name attr is the key used by request.get -->
            <input type="submit" id="submit_new_todo" value="Create" /> <!-- value attr specifies text showing in button -->
        </form>

        <ul id="todos">
            <!-- jinja loop -->
            {% for item in todos %}
            <li>
                <input class="check-completed" data-id="{{ item.id }}" type="checkbox" {% if item.completed %} checked {% endif %}>
                {{ item.description }}
                <button class="press-delete" data-id="{{ item.id }}" type="button">&cross;</button>
            </li>
            {% endfor %}
        </ul>
    </div>

    <script>
        document.getElementById('form_lists').onsubmit = function(e) {
            e.preventDefault();
            fetch('/lists/create', {
                method: 'POST',
                body: JSON.stringify({
                    'name': document.getElementById('name').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(function(response) {
                return response.json()
            })
            .then(function(jsonResponse) {
                console.log(jsonResponse);
                window.location.href = '/';
                document.getElementById('error').className = 'hidden';
            })
            .catch(function() {
                document.getElementById('error').className = '';
            })
        }

        document.getElementById('form_todos').onsubmit = function(e) {
            e.preventDefault();
            console.log('event', e);
            const active_list = e.target.action.slice(-1,);
            console.log('list#', active_list);
            fetch('/todos/create/' + active_list, {
                method: 'POST',
                body: JSON.stringify({
                    'description': document.getElementById('description').value
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(function(response) {
                return response.json()
            })
            .then(function(jsonResponse) {
                console.log(jsonResponse);
                window.location.href = '/lists/' + active_list;
                //const new_li = document.createElement('LI');
                //new_li.innerHTML = jsonResponse['description'];
                //document.getElementById('todos').appendChild(new_li);
                document.getElementById('error').className = 'hidden';
            })
            .catch(function() {
                document.getElementById('error').className = '';
            })
        }

        const checkboxes = document.querySelectorAll('.check-completed');
        for (let i = 0; i < checkboxes.length; i++) {
            const checkbox =  checkboxes[i];
            checkbox.onchange = function (e) {
                console.log('event', e);
                const newCompleted = e.target.checked;
                const todoId = e.target.dataset['id'];
                fetch('/todos/' + todoId + '/update', {
                    method: 'POST',
                    body: JSON.stringify({
                        'completed': newCompleted
                    }),
                    headers: {
                    'Content-Type': 'application/json'
                    }
                })
                .then(function(jsonResponse) {
                    document.getElementById('error').className = 'hidden';
                })
                .catch(function() {
                document.getElementById('error').className = '';
                })
            }
        }

        const deleteButtons = document.querySelectorAll('.press-delete');
        for (let i = 0; i < deleteButtons.length; i++) {
            const deleteButton = deleteButtons[i];
            deleteButton.onclick = function (e) {
                console.log('event', e);
                const todoId = e.target.dataset['id'];
                const active_list = e.target.formAction.slice(-1,);
                fetch('/todos/' + todoId, {
                    method: 'DELETE',
                })
                    .then(function (jsonResponse) {
                        console.log(jsonResponse);
                        if (jsonResponse['status'] == 200) {
                            window.location.href = '/lists/' + active_list;
                        }
                        document.getElementById('error').className = 'hidden';
                    })
                    .catch(function () {
                        document.getElementById('error').className = '';
                    })
            }
        }
    </script>

</body>
</html>